body{
    background: #dde;
    font-family: sans-serif;
}

h1{
    font-family: sans-serif;
    font-style: italic;
}

thead{
    width: 100%;
}

thead {
  background: #ccc url(http://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}

th{
    text-align: center;
    font-weight: normal;
}

tr:hover {
  background-color:#3d80df;
  color: #fff;
}

thead tr:hover {
  background-color: transparent;
  color: inherit;
}

#table_id_column{
    width: 25%;
    text-align: center;
}
#table_name_column{
    width: 25%;
}

#table_email_column{
    width: 25%;
}

#table_action_column{
    width: 25%;
    text-align: center;
}